<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
<title>在线购书推荐系统</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/icon/logo.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-icons.css">
<link rel="stylesheet" href="/css/shards.min.css">
<link rel="stylesheet" href="/css/sidebar.css">
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/shards.min.js"></script>
</head>

<body>

	<div th:include="header::common_header"></div>

	<div class="container" style="margin-top: 120px; margin-bottom: 30px;">

		<div class="row">
			<div class="card col-8 offset-2">
				<div class="card-body">
					<div class="media">
						<img th:src="${book.pic}" class="rounded border align-self-start mr-3" style="width: 360px;">
						<div class="media-body">
							<ul class="list-group">
								<li class="list-group-item">
									<h3>
										<span th:text="${book.bname}"></span>
									</h3>
								</li>
								<li class="list-group-item">
									<span>ISBN：</span>
									<span th:text="${book.isbn}"></span>
								</li>
								<li class="list-group-item">
									<span>价格：</span>
									<span th:text="${book.price}"></span>
								</li>
								<li class="list-group-item">
									<span>库存：</span>
									<span th:text="${book.stock}"></span>
								</li>
								<li class="list-group-item">
									<span>分类：</span>
									<span th:text="${book.booktype.tname}"></span>
								</li>
								<li class="list-group-item">
									<span>出版社：</span>
									<span th:text="${book.publisher.pname}"></span>
								</li>
								<li class="list-group-item">
									<a class="btn btn-primary" th:href="@{/user/order/insert(bid=${book.bid})}">点击购买</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>