<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
<title>在线购书推荐系统</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/icon/logo.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-icons.css">
<link rel="stylesheet" href="/css/shards.min.css">
<link rel="stylesheet" href="/css/sidebar.css">
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/shards.min.js"></script>
<script type="text/javascript">
	function jumpPage(currentPage) {
		location.href = '/admin/record/list?currentPage=' + currentPage;
	}
	function prePage(currentPage) {
		jumpPage(currentPage - 1);
	}
	function nextPage(currentPage) {
		jumpPage(currentPage + 1);
	}
</script>
</head>

<body>

	<div th:include="header::common_header"></div>

	<div class="container-fluid" style="margin-top: 90px; margin-bottom: 30px;">
		<div class="row">
			<div class="col-2" th:include="bar::admin_bar"></div>
			<div class="col-10">
				<div class="card">
					<div class="card-body">


						<nav class="breadcrumb" style="margin-top: 10px">
							<a class="breadcrumb-item" href="/admin/user/list">管理</a>
							<a class="breadcrumb-item" href="/admin/record/list">访问记录</a>
						</nav>

						<table class="table table-hover" style="margin-top: 10px">
							<thead>
								<tr>
									<th>用户ID</th>
									<th>用户名</th>
									<th>图书ID</th>
									<th>图书名</th>
									<th>访问时间</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${recordList}">
									<td>
										<span th:text="${item.user.uid}"></span>
									</td>
									<td>
										<span th:text="${item.user.uname}"></span>
									</td>
									<td>
										<span th:text="${item.book.bid}"></span>
									</td>
									<td>
										<span th:text="${item.book.bname}"></span>
									</td>
									<td>
										<span th:text="${#dates.format(item.vtime, 'yyyy/MM/dd')}"></span>
									</td>

								</tr>
							</tbody>
						</table>

						<div class="d-flex justify-content-center" th:if="${(allCount + pageSize - 1) / pageSize}  <= 5">
							<ul class="pagination pagination">
								<li class="page-item" th:classappend="${currentPage eq 1} ? 'disabled' : '' ">
									<a class="page-link" th:onclick="prePage([[${currentPage}]])">上一页</a>
								</li>
								<li th:each="pageIndex : ${#numbers.sequence(1, ((allCount + pageSize - 1) / pageSize) == 0 ? 1 : ((allCount + pageSize - 1) / pageSize))}" class="page-item"
									th:classappend="${currentPage eq pageIndex} ? 'disabled' : '' ">
									<a class="page-link" th:onclick="jumpPage([[${pageIndex}]])" th:text="${pageIndex}"></a>
								</li>
								<li class="page-item" th:classappend="${(allCount + pageSize - 1) / pageSize <= currentPage} ? 'disabled' : '' ">
									<a class="page-link" th:onclick="nextPage([[${currentPage}]])">下一页</a>
								</li>
							</ul>
						</div>

						<div class="d-flex justify-content-center" th:if="${(allCount + pageSize - 1) / pageSize}  > 5">
							<ul class="pagination pagination">
								<li class="page-item" th:classappend="${currentPage eq 1} ? 'disabled' : '' ">
									<a class="page-link" th:onclick="prePage([[${currentPage}]])">上一页</a>
								</li>
								<li th:if="${currentPage <= 3}" th:each="pageIndex : ${#numbers.sequence(1, 5)}" class="page-item" th:classappend="${currentPage eq pageIndex} ? 'disabled' : '' ">
									<a class="page-link" th:onclick="jumpPage([[${pageIndex}]])" th:text="${pageIndex}"></a>
								</li>
								<li th:if="${currentPage > 3 and currentPage < (allCount + pageSize - 1) / pageSize - 1}" th:each="pageIndex : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
									class="page-item" th:classappend="${currentPage eq pageIndex} ? 'disabled' : '' ">
									<a class="page-link" th:onclick="jumpPage([[${pageIndex}]])" th:text="${pageIndex}"></a>
								</li>
								<li th:if="${currentPage >= (allCount + pageSize - 1) / pageSize - 1}"
									th:each="pageIndex : ${#numbers.sequence((allCount + pageSize - 1) / pageSize - 4, (allCount + pageSize - 1) / pageSize)}" class="page-item"
									th:classappend="${currentPage eq pageIndex} ? 'disabled' : '' ">
									<a class="page-link" th:onclick="jumpPage([[${pageIndex}]])" th:text="${pageIndex}"></a>
								</li>
								<li class="page-item" th:classappend="${(allCount + pageSize - 1) / pageSize <= currentPage} ? 'disabled' : '' ">
									<a class="page-link" th:onclick="nextPage([[${currentPage}]])">下一页</a>
								</li>
							</ul>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>