<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
<title>在线购书推荐系统</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/icon/logo.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-icons.css">
<link rel="stylesheet" href="/css/shards.min.css">
<link rel="stylesheet" href="/css/sidebar.css">
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/shards.min.js"></script>
</head>

<body>

	<div th:include="header::common_header"></div>

	<div class="container-fluid" style="margin-top: 90px; margin-bottom: 30px;">
		<div class="row">
			<div class="col-2" th:include="bar::admin_bar"></div>
			<div class="col-10">
				<div class="card">
					<div class="card-body">


						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link" href="/admin/book/list">图书管理</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/admin/booktype/list">分类管理</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/publisher/list">出版社管理</a>
							</li>
						</ul>

						<nav class="breadcrumb" style="margin-top: 10px">
							<a class="breadcrumb-item" href="/admin/user/list">管理</a>
							<a class="breadcrumb-item" href="/admin/booktype/list">分类管理</a>
							<span class="breadcrumb-item active">新建分类</span>
						</nav>

						<div th:switch="${insertState}">
							<div th:case="1" class="alert alert-danger alert-dismissible fade show">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>新建失败！请重新尝试。</strong>
							</div>
							<div th:case="2" class="alert alert-success alert-dismissible fade show">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>新建成功！图书分类新建成功，返回列表可查看新增分类。</strong>
							</div>
						</div>

						<form action="/admin/booktype/insert" method="post">
							<div class="form-group">
								<label for="tname">分类名称：</label>
								<input type="text" class="form-control" name="tname" id="tname" />
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">
									<i class="bi bi-plus-circle"></i>
									<span>新建分类</span>
								</button>
								<button type="reset" class="btn btn-secondary">
									<i class="bi bi-eraser"></i>
									<span>重置</span>
								</button>
							</div>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>