<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
<title>在线购书推荐系统</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/icon/logo.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-icons.css">
<link rel="stylesheet" href="/css/shards.min.css">
<link rel="stylesheet" href="/css/sidebar.css">
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/shards.min.js"></script>
</head>

<body>

	<div th:include="header::common_header"></div>

	<div class="container-fluid" style="margin-top: 90px; margin-bottom: 30px;">
		<div class="row">
			<div class="col-2" th:include="bar::user_bar"></div>
			<div class="col-10">
				<div class="card">
					<div class="card-body">


						<nav class="breadcrumb" style="margin-top: 10px">
							<a class="breadcrumb-item" href="/user/order/list">管理</a>
							<a class="breadcrumb-item" href="/user/address/list">地址管理</a>
							<span class="breadcrumb-item active">删除地址</span>
						</nav>

						<div th:switch="${deleteState}">
							<div th:case="1" class="alert alert-danger alert-dismissible fade show">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>删除失败！请重新尝试。</strong>
							</div>
							<div th:case="2" class="alert alert-success alert-dismissible fade show">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>删除成功！地址删除成功，返回列表可查看所有地址。</strong>
							</div>

						</div>

						<form th:if="${addressList}!=null and ${#lists.size(addressList)}!=0" action="/user/address/remove" method="post">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>ID</th>
										<th>地址</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item:${addressList}">
										<td>
											<input type="hidden" name="aid" th:value="${item.aid}" />
											<font th:text="${item.aid}"></font>
										</td>
										<td>
											<span th:text="${item.location}"></span>
										</td>
									</tr>
								</tbody>
							</table>
							<div>
								<button type="submit" class="btn btn-primary">
									<i class="bi bi-eraser"></i>
									<span>确认删除</span>
								</button>
							</div>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>